[% USE raw %]
[% USE Asset %]
[% USE KohaDates %]
[%- USE Branches -%]
[%- USE Price -%]
[%- USE ItemTypes -%]
[%- USE Categories -%]
[%- USE TablesSettings -%]
[% SET footerjs = 1 %]
[% INCLUDE 'doc-head-open.inc' %]
<title>Koha &rsaquo; Circulation &rsaquo; Items overdue as of [% todaysdate | html %]</title>
[% INCLUDE 'doc-head-close.inc' %]
<style>
    .sql {display:none;}
</style>
</head>

<body id="circ_overdue" class="circ">
[% INCLUDE 'header.inc' %]
[% INCLUDE 'circ-search.inc' %]

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/circ/circulation-home.pl">Circulation</a> &rsaquo; Overdues as of [% todaysdate | html %]</div>

<div class="main container-fluid">
    <div class="row">
        <div class="col-sm-10 col-sm-push-2">
            <main>

[% IF ( noreport ) %]
  <h2>Overdue report</h2>
  <p>Please choose one or more filters to proceed.</p>
[% ELSE %]

[% IF ( overdueloop ) %]

  <h2>[% nnoverdue | html %] [% IF ( noverdue_is_plural ) %]Items[% ELSE %]Item[% END %] overdue as of [% todaysdate | html %][% IF ( isfiltered ) %] <span style="font-size:70%;">(Filtered. <a href="/cgi-bin/koha/circ/overdue.pl">Reset filter</a>)</span>[% END %]</h2>

  <p>
    [% IF ( isfiltered ) %]
        [% SET url_params = '' %]
        [% FOR var IN filters.keys %]
            [% url_params = BLOCK %][% url_params | $raw %]&amp;[% var | uri %]=[% filters.$var | uri %][% END %]
        [% END %]
      <a href="overdue.pl?op=csv[% url_params | $raw %]">Download file of displayed overdues</a>
    [% ELSE %]
      <a href="overdue.pl?op=csv">Download file of all overdues</a>
    [% END %]
  </p>

  <div class="sql"><pre>[% sql | html %]</pre></div>
  <div class="searchresults">
    <table id="overduest">
      <thead>
        <tr>
          <th class="title-string">Due date</th>
          <th>Patron</th>
          <th>Patron category</th>
          <th>Patron library</th>
          <th class="anti-the">Title</th>
          <th>Home library</th>
          <th>Holding library</th>
          <th>Barcode</th>
          <th>Call number</th>
          <th>Item type</th>
          <th>Price</th>
          <th>Non-public note</th>
        </tr>
      </thead>
      [%- BLOCK subject -%]Overdue:[%- END -%]
      <tbody>
      [% FOREACH overdueloo IN overdueloop %]
        <tr>
          <td><span title="[% overdueloo.duedate | html %]">[% overdueloo.duedate | $KohaDates %]</span></td>
          <td>
            [% INCLUDE 'patron-title.inc' patron=overdueloo.patron hide_patron_infos_if_needed=1 %]
            [% IF logged_in_user.can_see_patron_infos( overdueloo.patron ) %]
                [% IF ( overdueloo.email ) %][<a href="mailto:[% overdueloo.email | uri %]?subject=[% INCLUDE subject %] [% overdueloo.title | uri %]">email</a>][% END %]
                [% IF ( overdueloo.phone ) %]([% overdueloo.phone | html %])[% ELSIF ( overdueloo.mobile ) %]([% overdueloo.mobile | html %])[% ELSIF ( overdueloo.phonepro ) %]([% overdueloo.phonepro | html %])[% END %]</td>
            [% END %]
            <td>[% Categories.GetName( overdueloo.patron.categorycode ) | html %]</td>
            <td>[% Branches.GetName( overdueloo.patron.branchcode ) | html %]</td>
          <td>[% INCLUDE 'biblio-default-view.inc' biblionumber = overdueloo.biblionumber %][% INCLUDE 'biblio-title.inc' biblio=overdueloo %]</a> [% IF ( overdueloo.author ) %], by [% overdueloo.author | html %][% END %][% IF ( overdueloo.enumchron ) %], [% overdueloo.enumchron | html %][% END %]</td>
            <td>[% Branches.GetName( overdueloo.homebranchcode ) | html %]</td>
            <td>[% Branches.GetName( overdueloo.holdingbranchcode ) | html %]</td>
          <td><a href="/cgi-bin/koha/catalogue/moredetail.pl?biblionumber=[% overdueloo.biblionumber | uri %]&amp;itemnumber=[% overdueloo.itemnum | uri %]#item[% overdueloo.itemnum | uri %]">[% overdueloo.barcode | html %]</a></td>
          <td>[% overdueloo.itemcallnumber | html %]</td>
            <td>[% ItemTypes.GetDescription( overdueloo.itemtype ) | html %]</td>
          <td>[% overdueloo.replacementprice | $Price %]</td>
          <td>[% overdueloo.itemnotes_nonpublic | html %]</td>
        </tr>
      [% END %]
      </tbody>
    </table>
  </div>

[% ELSE %]

  <h2>Overdue report</h2>
  [% IF ( isfiltered ) %]
    <p>There are no overdues matching your search. <a href="/cgi-bin/koha/circ/overdue.pl">Reset filter</a></p>
  [% ELSE %]
    <p>There are no overdues.</p>
  [% END %]

[% END %]  <!-- overdueloop -->
[% END %]  <!-- noreport -->

            </main>
        </div> <!-- /.col-sm-10.col-sm-push-2 -->

        <div class="col-sm-2 col-sm-pull-10">
            <aside>

<form method="post" action="/cgi-bin/koha/circ/overdue.pl">
  <fieldset class="brief">
<h4>Filter on:</h4>
	<fieldset><legend>Date due:</legend>
	<ol>
    <li><label for="from">From:</label>
    <input type="text" id="from" name="dateduefrom" size="10" value="[% filters.dateduefrom | $KohaDates %]" class="datepickerfrom" />
	</li>
	<li>
    <label for="to">To:</label>
    <input type="text" id="to" name="datedueto" size="10" value="[% filters.datedueto | $KohaDates %]" class="datepickerto" />
    </li>
    </ol></fieldset>
    <ol>
    <li><label>Name or cardnumber:</label><input type="text" name="borname" value="[% filters.borname | html %]" /></li>
    <li><label>Patron category:</label><select name="borcat" id="borcat"><option value="">Any</option>
      [% FOREACH borcatloo IN borcatloop %]
        [% IF ( borcatloo.selected ) %]<option value="[% borcatloo.value | html %]" selected="selected">[% borcatloo.catname | html %]</option>[% ELSE %]<option value="[% borcatloo.value | html %]">[% borcatloo.catname | html %]</option>[% END %]
      [% END %]
      </select>
    </li>
    <li><label>Patron flags:</label>
        <select name="borflag" size="1" id="borflag">
            <option value="">None</option>
            [% IF ( borflag_gonenoaddress ) %]<option value="gonenoaddress" selected="selected">Address in question</option>
            [% ELSE %]<option value="gonenoaddress">Address in question</option>[% END %]
            [% IF ( borflag_debarred ) %]<option value="debarred" selected="selected">Restricted</option>
            [% ELSE %]<option value="debarred">Restricted</option>[% END %]
            [% IF ( borflag_lost ) %]<option value="lost" selected="selected">Lost card</option>
            [% ELSE %]<option value="lost">Lost card</option>[% END %]
        </select>
    </li>
	[% FOREACH patron_attr_filter_loo IN patron_attr_filter_loop %]
		<!-- domid cgivalue ismany isclone ordinal code description repeatable authorised_value_category -->
		<li>
			<label>[% patron_attr_filter_loo.description | html %]:</label>
            [% IF ( patron_attr_filter_loo.authorised_value_category ) %]
                <script type="text/javascript" x-code="[% patron_attr_filter_loo.code | html %]">create_auto_completion_responder([% patron_attr_filter_loo.domid | html %],"[% patron_attr_filter_loo.code | html %]");</script>
				<span id="pattrodue-getready-[% patron_attr_filter_loo.domid | html %]">
						<div class="pattrodue-autocomplete">
                            <input autocomplete="off" id="pattrodue-input-[% patron_attr_filter_loo.domid | html %]" name="patron_attr_filter_[% patron_attr_filter_loo.code | html %]" value="[% patron_attr_filter_loo.cgivalue | html %]"  class="pattrodue-input" type="text" />
						</div>
				</span>
			[% ELSE %]
                <input type="text" name="patron_attr_filter_[% patron_attr_filter_loo.code | html %]" value="[% patron_attr_filter_loo.cgivalue | html %]"/>
			[% END %]
			[% IF ( patron_attr_filter_loo.repeatable ) %]
                <a href="#" onclick="clone_parent(this); return false;">Add</a>
                [% IF ( patron_attr_filter_loo.isclone ) %]
				    <a href="#" onclick="delete_parent(this); return false;" style="visibility: visible">Delete</a>
                [% ELSIF ( patron_attr_filter_loo.ismany ) %]
				    <a href="#" onclick="delete_parent(this); return false;" style="visibility: visible">Delete</a>
                [% ELSE %]
				    <a href="#" onclick="delete_parent(this); return false;" style="visibility: hidden">Delete</a>
                [% END %]
			[% END %]
		</li>
	[% END %]

    <li><label>Item type:</label><select name="itemtype" id="itemtype"><option value="">Any</option>
      [% FOREACH itemtypeloo IN itemtypeloop %][% IF ( itemtypeloo.selected ) %]
        <option value="[% itemtypeloo.value | html %]" selected="selected">[% itemtypeloo.itemtypename | html %]</option>[% ELSE %]
        <option value="[% itemtypeloo.value | html %]">[% itemtypeloo.itemtypename | html %]</option>[% END %]
      [% END %]
      </select>
    </li>

    <li>
        <label>Item home library:</label>
        <select name="homebranch" id="homebranch">
            <option value="">Any</option>
            [% PROCESS options_for_libraries libraries => Branches.all( selected => filters.homebranch ) %]
        </select>
    </li>

    <li>
        <label>Item holding library:</label>
        <select name="holdingbranch" id="holdingbranch">
            <option value="">Any</option>
            [% PROCESS options_for_libraries libraries => Branches.all( selected => filters.holdingbranch ) %]
        </select>
    </li>

    <li>
        <label>Library of the patron:</label>
        <select name="branch" id="branch">
            <option value="">Any</option>
            [% PROCESS options_for_libraries libraries => Branches.all( selected => filters.branch, only_from_group => 1 ) %]
        </select>
    </li>

<li class="radio"><label for="showall">Show any items currently checked out:</label>
	[% IF ( showall ) %]
            <input type="checkbox" id="showall" name="showall" value="show" checked="checked" />
    [% ELSE %]
        <input type="checkbox" id="showall" name="showall" value="show" />
    [% END %]
</li>
</ol>
   <fieldset class="action">
      <input type="submit" value="Apply filter" class="submit" />
      <input type="hidden" name="op" value="apply filter" />
   </fieldset>
   </fieldset>
  </form>

            </aside>
        </div> <!-- /.col-sm-2.col-sm-pull-10 -->
     </div> <!-- /.row -->

[% MACRO jsinclude BLOCK %]
    [% INCLUDE 'calendar.inc' %]
    [% INCLUDE 'datatables.inc' %]
    [% INCLUDE 'columns_settings.inc' %]
    <script>
        function clone_parent(node) {
            var parent = node.parentNode;
            var clone = parent.cloneNode(true);
            parent.parentNode.insertBefore(clone, parent.nextSibling);
            $("a", clone).attr("style", "visibility: visible");
            $("input", clone).attr("value", "");

            var theid = $("span", clone).attr("id") || "";
            var theid = $("span", clone).attr("id") || "";
            var parts = theid.match(/^pattrodue-getready-(.*)$/);
            if (parts && parts.length > 1){
                var appendid = "-" + Math.floor(Math.random()*1000+1);
                $("span", clone).attr("id",theid+appendid);

                theid = $("input", clone).attr("id");
                $("input", clone).attr("id",theid+appendid);

                theid = $("div[id]", clone).attr("id");
                $("div[id]", clone).attr("id",theid+appendid);

                var attrcode = $("script", clone).attr("x-code");
                var newsuffix = parts[1] + appendid;
                create_auto_completion_responder(newsuffix,attrcode);
            }
        }


        function delete_parent(node) {
            var parent = node.parentNode;
            parent.parentNode.removeChild(parent);
        }

        function create_auto_completion_responder(uniqueid,attrcode) {
            $("#pattrodue-getready-" + uniqueid).ready(function(){
                $( "#pattrodue-input-" + uniqueid ).autocomplete({
                    source: "/cgi-bin/koha/circ/ypattrodue-attr-search-authvalue.pl/"+attrcode,
                    select: function( event, ui ) {
                        $( "#pattrodue-input-"+uniqueid ).val( ui.item.description );
                        return false;
                    }
                })
                .data( "ui-autocomplete" )._renderItem = function( ul, item ) {
                    return $( "<li></li>" )
                    .data( "ui-autocomplete-item", item )
                    .append( "<a>" + item.description + " (" + item.authorised_value + ")</a>" )
                    .appendTo( ul )
                    .css("font-size","90%").css("width","13em");
                };
            });
        }

        $(document).ready(function(){
            var columns_settings = [% TablesSettings.GetColumns( 'circ', 'overdues', 'circ-overdues', 'json' ) | $raw %];
            KohaTable("overduest", {
                "sPaginationType": "full",
                "aaSorting": [[0, 'asc']],
                "autoWidth": false,
                "stateSave": true
            }, columns_settings);
        });
  </script>
[% END %]

[% INCLUDE 'intranet-bottom.inc' %]
